ADMIN_USER=deploy
SSH_PERMIT_ROOT_LOGIN=prohibit-password
UFW_ALLOW="22/tcp 80/tcp 443/tcp"
FAIL2BAN_IGNORE_IP="127.0.0.1/8 ::1"
FAIL2BAN_BAN_TIME=1h
FAIL2BAN_MAX_RETRY=5
JOURNAL_MAX_USE=500M
SWAP_SIZE=2G
SWAPPINESS=10
TIMEZONE=UTC
NEW_HOSTNAME=
